* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.page-head {
  height: 90px;
  border-bottom: 1px solid #dcdfe4;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}
.head-content {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 120px;
}
.first-head-content {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  height: 45px;
  border-radius: 30px;
  background-color: #ccfbef;
  padding: 0 16px;
}
.second-head-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.first-head-content img,
.second-head-content img {
  width: 16px;
  height: 16px;
}
.first-head-content h6 {
  color: #212636;
  font-size: 18px;
  font-weight: 500;
  line-height: 0px;
}
.second-head-content h6 {
  font-size: 18px;
  font-weight: 500;
  color: #8a94a6;
  line-height: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 75px;
  z-index: 200;
  background-color: #115e56;
  border: 1px solid #dcdfe4;
}
.sidebar-links {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.logo {
  width: fit-content;
  height: 28px;
  margin-bottom: 60px;
  margin-top: 30px;
}
.sidebar-middle {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.sidebar-middle img {
  width: fit-content;
  height: 30px;
}
.sidebar-bottom {
  margin-top: 350px;
}
.sidebar-bottom img {
  width: fit-content;
  height: 40px;
}
.page-main {
  margin-top: 130px;
  margin-right: 40px;
  margin-left: 110px;
  padding-bottom: 10px;
  box-shadow: 0px 5px 22px 0px #0000000a;
  box-shadow: 0px 0px 0px 1px #0000000f;
  border-radius: 20px;
}
.main-section {
  /* margin: 30px 20px; */
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 25px;
  margin-bottom: 20px;
}
.first-section-head {
  display: flex;
  align-items: center;
}
.first-section-head-text {
  width: 91%;
  font-size: 32px;
  font-weight: 500;
  color: #212636;
}
.days-button {
  font-size: 16px;
  color: #212636;
  font-weight: 400;
  width: 97px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #dcdfe4;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.days-button p {
  font-size: 16px;
  font-weight: 400;
}
.arrow-down {
  width: 16px;
  height: 16px;
}
.first-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 24px;
  column-gap: 34px;
}
.first-section-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 396px;
  height: 156px;
  box-shadow: 0px 5px 22px 0px #0000000a;
  box-shadow: 0px 0px 0px 1px #0000000f;
  border-radius: 20px;
}
.first-section-content {
  padding-left: 24px;
}
.first-section-content-head {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 8px;
}
.first-section-content-head img {
  width: 12px;
  height: 12px;
}
.first-section-content-head p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #667085;
}
.first-section-content-text {
  font-size: 32px;
  font-weight: 500;
  font-style: medium;
  color: #212636;
  margin: 0;
}
.first-section-content-stats {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
.first-section-content-stats p {
  font-size: 14px;
  font-weight: 400;
  color: #667085;
}
.second-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
.second-section-head-text,
.third-section-head-text {
  font-size: 32px;
  font-weight: 500;
  color: #212636;
  margin-top: 50px;
}
.second-section-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 690px;
  height: 455px;
  box-shadow: 0px 5px 22px 0px #0000000a;
  box-shadow: 0px 0px 0px 1px #0000000f;
  border-radius: 20px;
  padding-left: 10px;
}
.second-section-content {
  margin-bottom: 16px;
}
.stats-img {
  width: 650px;
  height: 284px;
}
.stats-line {
  width: 650px;
  height: 1px;
  color: #dcdfe4;
  opacity: 0.5;
  margin-left: 0;
  margin-top: 20px;
}
.stats-check {
  display: flex;
  align-items: center;
  gap: 46px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.stats-update {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dot {
  width: 16px;
  height: 4px;
}
.stats-caption {
  font-size: 12px;
  font-weight: 400;
  color: #667085;
}

.second-section-small-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  height: 455px;
  box-shadow: 0px 5px 22px 0px #0000000a;
  box-shadow: 0px 0px 0px 1px #0000000f;
  border-radius: 20px;
  padding-left: 10px;
}
.second-section-content {
  margin-bottom: 16px;
}
.chart-img {
  width: 212px;
  height: 284px;
}
.chart-line {
  width: 212px;
  margin-right: 50px;
  height: 1px;
  color: #dcdfe4;
  opacity: 0.5;
  margin-top: 20px;
}
.chart-check {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.stats-update {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dot {
  width: 16px;
  height: 4px;
}
.stats-caption {
  font-size: 12px;
  font-weight: 400;
  color: #667085;
}
.second-section-forecast-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  height: 455px;
  background: linear-gradient(#15b79f, #0e9382);
  box-shadow: 1px 5px 22px 0px #0000000a;
  box-shadow: 2px 1px 1px 1px #0000000f;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 20px;
}
.second-section-content-head {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -20px;
  margin-bottom: 0;
  color: white;
}
.second-section-content-head img {
  width: 12px;
  height: 12px;
}
.second-section-content-head p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: white;
}
.forecast-content {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 15px;
}
.forecast-content-head {
  display: flex;
  margin-top: 0px;
  gap: 32px;
}
.forecast-content-head h1 {
  font-size: 56px;
  line-height: 0;
}
.forecast-content p {
  font-size: 14px;
  font-weight: 400;
}
.arrow-stats {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
.mobile-order-section {
  display: none;
}
.third-section {
  border: 1px solid #dcdfe4;
  padding-bottom: 10px;
  width: 99%;
}
.third-section-table-head {
  display: grid;
  grid-template-columns: 200px 220px 205px 200px 1fr;
  background-color: #f9fafb;
  border-bottom: 1px solid #dcdfe4;
  width: 100%;
  padding-left: 20px;
}
.third-section-table-head p {
  font-size: 14px;
  font-weight: 400;
  color: #667085;
}
.third-section-table-content {
  display: grid;
  grid-template-columns: 200px 230px 200px 210px 200px 1fr;
  padding-left: 20px;
}
.first-column,
.last-column {
  display: flex;
  align-items: center;
  gap: 10px;
}
.first-column h6,
.second-column h6,
.third-column h6,
.fourth-column h6 {
  font-size: 16px;
  font-weight: 400;
  color: #212636;
  line-height: 0;
}
.second-column {
  display: flex;
  flex-direction: column;
}
.second-column p {
  font-size: 12px;
  font-weight: 400;
  color: #212636;
  line-height: 0;
  margin-top: -15px;
}
.fifth-column h6 {
  font-size: 16px;
  font-weight: 700;
  color: #212636;
  line-height: 0;
}
.last-column {
  padding-left: 47%;
}
.last-column p {
  font-size: 12px;
  font-weight: 400;
  color: #212636;
}
.arrow-up {
  width: 18px;
  height: 18px;
}
.burger-menu,
.burger-menu-btn {
  display: none;
}
.mobile-head {
  display: none;
}

@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }
  .page-head {
    height: 60px;
    border-bottom: 1px solid #dcdfe4;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
    background-color: white;
  }
  .mobile-head {
    display: flex;
  }
  .mobile-logo {
    height: 40px;
  }
  .mobile-nav {
    display: flex;
    position: relative;
    gap: 70vw;
    align-items: center;
    margin: 0 20px;
  }
  .head-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-left: 0px;
    background-color: #115e56;
    max-height: 0px;
    opacity: 0;
    pointer-events: 0;
    width: 200px;
    position: absolute;
    top: 75px;
    right: 0;
    margin-right: 20px;
    transform: translateY(-8px);
    transition: max-height 300ms ease, opacity 300ms ease, transform 300ms ease;
  }
  .head-content.open {
    max-height: 400px;
    width: 200px;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .mobile-navbar {
    display: flex;
    align-items: center;
  }
  .menu-icon {
    display: block;
    background: none;
    border: none;
    padding: 0;
  }
  .close-icon {
    display: none;
    background: none;
    border: none;
    padding: 0;
  }
  .menu-icon img,
  .close-icon img {
    width: 40px;
  }
  .mobile-navbar.open .menu-icon {
    display: none;
  }
  .mobile-navbar.open .close-icon {
    display: block;
  }
  .head-content div {
    display: flex;
    align-items: center;
  }
  .first-head-content {
    height: auto;
    border-radius: 0;
    background: none;
    padding-top: -30px;
    width: 100%;
    border-bottom: 2px solid white;
    padding-left: 50px;
  }
  .second-head-content {
    border-bottom: 2px solid white;
    width: 100%;
    padding-top: 20px;
    padding-left: 60px;
  }
  .first-head-content img,
  .second-head-content img {
    width: 16px;
    height: 16px;
  }
  .first-head-content h6 {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
  }
  .second-head-content h6 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 0;
  }
  .sidebar {
    position: fixed;
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #115e56;
    border: 1px solid #dcdfe4;
  }
  .sidebar-links {
    height: 60px;
    gap: 50px;
    flex-direction: row;
    margin-left: 26px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: none;
  }
  .sidebar-middle {
    flex-direction: row;
    gap: 70px;
  }
  .sidebar-middle img {
    height: 32px;
  }
  .sidebar-bottom {
    margin-top: 0px;
  }
  .sidebar-bottom img {
    height: 44px;
  }
  .page-main {
    margin-top: 90px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .main-section {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .first-section-head-text {
    width: 74%;
    font-size: 28px;
  }
  .days-button {
    width: 80px;
    height: 28px;
  }
  .days-button p {
    font-size: 14px;
    font-weight: 400;
  }
  .arrow-down {
    width: 14px;
    height: 16px;
  }
  .first-section {
    display: flex;
    flex-direction: column;
  }
  .first-section-grid {
    width: 300px;
  }
  .first-section-content-text {
    font-size: 26px;
  }
  .second-section {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .second-section-head-text,
  .third-section-head-text {
    font-size: 28px;
    margin-top: 40px;
  }
  .second-section-grid {
    padding-left: 10px;
    width: 300px;
    height: 420px;
  }
  .second-section-content {
    margin-bottom: 16px;
  }
  .stats-img {
    width: 270px;
  }
  .stats-line {
    width: 270px;
    margin-top: 20px;
  }
  .stats-check {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 0;
    align-items: flex-start;
  }
  .stats-update {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .second-section-small-grid {
    width: 300px;
    height: 400px;
    padding-left: 10px;
  }
  .second-section-content {
    margin-bottom: 16px;
  }
  .chart-img {
    width: 250px;
    height: 230px;
  }
  .chart-line {
    width: 250px;
  }
  .chart-check {
    margin-left: 16px;
  }

  .second-section-forecast-grid {
    height: 380px;
  }
  .forecast-content {
    gap: 6px;
  }
  .forecast-content-head h1 {
    font-size: 44px;
  }
  .forecast-content p {
    font-size: 13px;
    line-height: 1.5;
  }
  .arrow-stats {
    width: 30px;
    height: 30px;
    margin-top: 3px;
  }
  .mobile-order-section {
    display: block;
    margin-bottom: 100px;
  }
  .mobile-order-section p {
    font-size: 16px;
    font-weight: 400;
    color: #667085;
    line-height: 1.6;
  }
  .mobile-order-section a {
    color: #115e56;
  }
  .third-section-head {
    display: none;
  }
  .third-section {
    border: 1px solid #dcdfe4;
    padding-bottom: 10px;
    width: 99%;
  }
  .third-section-table-head {
    display: grid;
    grid-template-columns: 200px 220px 205px 200px 1fr;
    background-color: #f9fafb;
    border-bottom: 1px solid #dcdfe4;
    width: 100%;
    padding-left: 20px;
  }
  .third-section-table-head p {
    font-size: 14px;
    font-weight: 400;
    color: #667085;
  }
  .third-section-table-content {
    display: grid;
    grid-template-columns: 200px 230px 200px 210px 200px 1fr;
    padding-left: 20px;
  }
  .first-column,
  .last-column {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .first-column h6,
  .second-column h6,
  .third-column h6,
  .fourth-column h6 {
    font-size: 16px;
    font-weight: 400;
    color: #212636;
    line-height: 0;
  }
  .second-column {
    display: flex;
    flex-direction: column;
  }
  .second-column p {
    font-size: 12px;
    font-weight: 400;
    color: #212636;
    line-height: 0;
    margin-top: -15px;
  }
  .fifth-column h6 {
    font-size: 16px;
    font-weight: 700;
    color: #212636;
    line-height: 0;
  }
  .last-column {
    padding-left: 47%;
  }
  .last-column p {
    font-size: 12px;
    font-weight: 400;
    color: #212636;
  }
  .arrow-up {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 481px) and (max-width: 820px) {
  .sidebar {
    bottom: calc(100vh - 20vh);
  }
  .sidebar-bottom {
    margin-top: 750px;
  }
  .second-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
  .second-section-head-text,
  .third-section-head-text {
    font-size: 32px;
    font-weight: 500;
    color: #212636;
    margin-top: 50px;
  }

  .second-section-grid {
    width: 590px;
  }
  .stats-img {
    width: 550px;
  }
  .stats-line {
    width: 550px;
  }
}

@media screen and (min-width: 821px) and (max-width: 1024px) {
  /* .sidebar {
    bottom: calc(100vh - 50vh);
  }
  .sidebar-bottom {
    margin-top: 750px;
  } */
  .second-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
  .second-section-head-text,
  .third-section-head-text {
    font-size: 32px;
    font-weight: 500;
    color: #212636;
    margin-top: 50px;
  }

  .second-section-grid {
    width: 590px;
  }
  .stats-img {
    width: 550px;
  }
  .stats-line {
    width: 550px;
  }
}
