* {
  box-sizing: border-box;
}
.third-section {
  border: 1px solid #dcdfe4;
  padding-bottom: 10px;
  width: 99%;
}
.third-section-table-head {
  display: grid;
  grid-template-columns: 200px 220px 205px 200px 1fr;
  background-color: #f9fafb;
  border-bottom: 1px solid #dcdfe4;
  width: 100%;
  padding-left: 20px;
}
.third-section-table-head p {
  font-size: 14px;
  font-weight: 400;
  color: #667085;
}
.third-section-table-content {
  display: grid;
  grid-template-columns: 200px 230px 200px 210px 200px 1fr;
  padding-left: 20px;
}
.first-column,
.last-column {
  display: flex;
  align-items: center;
  gap: 10px;
}
.first-column h6,
.second-column h6,
.third-column h6,
.fourth-column h6 {
  font-size: 16px;
  font-weight: 400;
  color: #212636;
  line-height: 0;
}
.second-column {
  display: flex;
  flex-direction: column;
}
.second-column p {
  font-size: 12px;
  font-weight: 400;
  color: #212636;
  line-height: 0;
  margin-top: -15px;
}
.fifth-column h6 {
  font-size: 16px;
  font-weight: 700;
  color: #212636;
  line-height: 0;
}
.last-column {
  padding-left: 47%;
}
.last-column p {
  font-size: 12px;
  font-weight: 400;
  color: #212636;
}
.arrow-up {
  width: 18px;
  height: 18px;
}
